@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import "navBar";
@import "index";
@import "footer";
@import "about";
@import "membership";
@import "interfaz";
@import "carrito";

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
